

let mapleader = " "

" --- Move between split windows (hjkl style) ---
nmap <C-h> <C-w>h
nmap <C-j> <C-w>j
nmap <C-k> <C-w>k
nmap <C-l> <C-w>l

" --- split window ---
nmap <C-w>% <C-w>v
nmap <C-w>" <C-w>s

" --- Switch between tabs using  ---
nmap <A-h> gT
nmap <A-l> gt


" --- Go to definition and navigate back ---
"nmap gd :action GotoDeclaration
nmap gu :action FindUsages<cr>
nmap gd :action GotoTypeDeclaration<CR>
nmap gi :action GotoImplementation<cr>
nmap gI :action Back<cr>
nmap gh <Action>(ShowHoverInfo)
nmap gL <Action>(QuickImplementations)

" --- Errors --- 
nmap ee <Action>(ShowErrorDescription)

" --- Show error/warning at cursor ---
nmap <leader>e :action ShowErrorDescription<cr>

" --- Show Quick Documentation on hover ---
nmap gh :action QuickDocumentation<cr>


"-- refactor 
nmap <f2> <Action>(Rename)

" --- Application Controls ---
nmap <leader>r :action Run<cr>
nmap <leader>d :action Debug<cr>
nmap <leader>s :action Stop<cr>

" --- reload config ---
nmap § :action IdeaVim.ReloadVimRc.reload<cr>

" --- Show Quick-Fixes and Intention Actions ---
nmap <leader>f :action ShowIntentionActions<cr>

" --- Navigate popup menus ---
inoremap <C-n> <Down>
inoremap <C-p> <Up>

nnoremap <C-n> <Down>
nnoremap <C-p> <Up>
